@import 'src/styles/mixins.scss';

#site-header {
    @include flex-col-center;
	position: absolute;
	top: 0;
	left: 50%;
	height: auto;
    width: 0;

	.inner {
        position: absolute;
		height: auto;
        opacity: .8;
        border-bottom-left-radius: var(--defaultRadius);
        border-bottom-right-radius: var(--defaultRadius);
        z-index: 1;
        background: white;

        &:hover {
            opacity: 1;
            cursor: pointer;
        }
        
		.logo {
			display: none;
			width: 120px;
			padding: 5px 10px;
			letter-spacing: 2px;
			text-align: center;
			font-size: .7em;
			font-weight: bold;
			color: #123;
			text-transform: uppercase;
			display: flex;
			align-items: center;
			justify-content: center;
            cursor: pointer;
		}

		.nav-items {
			a {
				height: 100%;
				color: black;
				font-weight: bold;
				font-family: var(--fontBold);
				font-size: 1.2em;
				padding: var(--defaultItemPadding) calc(var(--defaultItemPadding)*2);
				
				&:hover {
					background: darken(white, 10%);
					cursor: pointer;
				}

				&:first-child {
					border-bottom-left-radius: var(--defaultRadius);
				}

				&:last-child {
					border-bottom-right-radius: var(--defaultRadius);
				}
			}
		}
	}


    @include mobile {
        position: relative;
        left: 0;
        width: 100%;
        border-radius: 0;
        
        .inner {
            width: 100%;
            
            .logo {
            }

            .nav-items {
                width: 100%;
                max-width: 100%;

                a {
                    padding: var(--defaultItemPadding) 0;
                    flex: 1;
                    border-radius: 0;
                }
            }
        }
    }
    
}